conda install pytorch==1.13.1 torchvision==0.14.1 torchaudio==0.13.1 pytorch-cuda=11.7 -c pytorch -c nvidia

einops
soundfile
tqdm
matplotlib
wandb
numpy

dotted-dict
pandas

stempeg

# pysepm (from github)